.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.table{
    justify-self: center;
    align-self: center;
    font-size: 20px;
    text-align: center;
}

table, th, td{
    border: 1px solid;
}

.item{
    font-size: 20px;
}